

<div class="container-show">
  <div class="chef-user d-flex align-items-center flex-column mx-3">
    <img class="avatar-large" alt="avatar-large" src=" <%= @chef.user.image %> "/>
    <%= link_to "Book", new_chef_booking_path(@chef), class: "btn btn-success rounded-pill mb-4" %>
  </div>
  <div class="container-profile-details">
    <h3 class="ml-3 my-3">Hi I'm <%= @chef.name %></h3>
    <p class="ml-3 my-3"> <%= @chef.description %></p>
    <br>
  <div class="reviews ml-3 my-3">
    <h4>My Reviews</h4>
      <br>
      <% @bookings.each do |booking|%>
        <% booking.reviews.each do |review|%>
        <div class="card-review">
          <div>
            <img class="avatar-square" src="<%= review.user.image %>" alt="user image">
            <strong>Rating:</strong>
            <% review.rating.times do %>
             <i class="fa fa-star" aria-hidden="true" ></i>
            <% end %>
          </div>
          <p> <%= review.content %> </p>
        </div>
        <% end %>
      <% end %>
  </div>
</div>


