<div class = "new-booking-page">

<h1 class = "booking-title">Let's get cooking</h1>

<div class="chef-form">
  <%= simple_form_for [@chef, @booking],  wrapper: :vertical_form do |f| %>
    <%= f.input :number_of_people, placeholder: 'How big is your party? Enter a number.', label: false, input_html: { class: "chef-input"} %>
    <%= f.input :preferences, placeholder: 'Any allergies? Let us know!', label: false, input_html: { class: "chef-input"} %>
    <%= f.input :date, as: :date, placeholder: 'What day would you like to book your chef?', label: false, input_html: { class: "chef-input"} %>
    <%= f.input :description, placeholder: 'Please describe your wishes in as much detail as you like.', label: false, input_html: { class: "chef-input"}%>
    </div>
    <div class = 'chef-btn'>
    <%= f.button :submit, "book my chef", class: "btn-primary", id: "btn-booking" %>
  <% end %>
  </div>
</div>


