<h1 class = "booking-title">Let's get cooking</h1>

<div class="booking-form">
  <%= simple_form_for [@chef, @booking] do |f| %>
    <%= f.input :number_of_people, label: 'How big is your party? Enter a number.' %>
    <%= f.input :preferences, label: 'Any allergies? Let us know!' %>
    <%= f.input :date, as: :date, label: 'What day would you like to book your chef?' %>
    <%= f.input :description, label: 'Please describe your wishes in as much detail as you like.'%>
    <%= f.button :submit, class: "my-button" %>
  <% end %>
</div>
