<div class="container my-container">
  <div class="row">
    <div class="text-center">
      <h3> Thank you for booking <%= @booking.chef.name %> </h3>
      <hr>
        <div class="row">
          <div align ="right" class="col-md-6">
            <img src="<%= @booking.chef.user.image%>" class = avatar-large %>
          </div>
          <div class="col-md-6">
              <div class="text-left">
              <h4> Reminder of your <strong id="red-word">booking details</strong></h4>
              <br>
                <table>
                 <tbody>
                    <tr>
                      <td> <h4><i class="fa fa-heart" aria-hidden="true"></i> </h4></td>
                      <td><h4>Your chef is <strong style="color: green;"> <%=@booking.chef.name %> </strong></h4></td>
                    </tr>
                    <tr>
                      <td><h4> <i class="fas fa-drumstick-bite" aria-hidden="true"></i></h4></td>
                      <td><h4>You asked to hire a chef on <%=@booking.date.strftime('%A, %b %d') %> <br>  &nbsp;</h4></td>
                    </tr>
                    <tr>
                      <td><h4> <i class="fa fa-thumbs-up" aria-hidden="true"></i></h4></td>
                      <td><h4>The total price for your booking is £<%=@booking.chef.price %>. We hope you enjoy!</h4></td>
                    </tr>
                    <tr>
                      <td><h4> &nbsp; <%= link_to "Leave a Review", new_booking_review_path(@booking) , class: "btn btn-success rounded-pill mb-4"%> </h4></td>
                  </tbody>
                </table>
              </div>
          </div>
        </div>
<!--         <%= link_to "Leave a Review", new_booking_review_path(@booking) , class: "btn btn-success rounded-pill mb-4"%> -->