<div class="booking-show-page">
  <h2 class = "booking-show-title">Booking details</h2>
  <div class = "confirmation-container">
  <div class="booking-confirmation">
    <p><strong>Your chef is <strong class = "purple-details"> <%=@booking.chef.name %> </p>
      <p>Your chef will come on <strong class = "purple-details"> <%=@booking.date.strftime('%A, %b %d') %> <br>  &nbsp;</p>
      <p>The total price for your booking is <strong class = "purple-details">£<%=@booking.chef.price %></p>
  </div>
  <div class= "booking-show-avatar">
      <img src="<%= @booking.chef.user.image%>" class = avatar-large %>
  </div>
  </div>
  <%= link_to "Leave a Review", new_booking_review_path(@booking), class: "btn-primary", id: "booking-show-btn" %>
</div>
