<div class="review-page">
  <h1 class = "review-title">Leave a review for <%= @booking.chef.name %> </h1>


  <div class="review-form">
    <%= simple_form_for [ @booking, @review ], url: booking_reviews_path(@booking), method: :post do |form| %>
    <div class="review-inputs">
      <%= form.input :content, as: :text, label: false, placeholder: 'Share your thoughts about your dining experience', input_html: { class: "review-input"} %>
      <%= form.input :rating, label: false, placeholder: 'Rate your chef (1 - 5 stars)', input_html: { class: "review-input"}%>
    </div>
    <div class="review-button">
        <%= form.button :submit, class: 'btn-primary', id: 'review-button' %>
      </div>
    <% end %>
  </div>
</div>
